<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редагування нотатки</title>
</head>
<body>
<form th:action="@{/note/edit}" method="post">
    <h2>Редагування нотатки</h2>
    <table>
        <tr>
            <td>
                Заголовок:
            </td>
            <td>
                <input id="title" name="title" th:value="${note.getTitle()}" maxlength="20" size="15">
            </td>
        </tr>
        <tr>
            <td>
                Контент:
            </td>
            <td>
                <input id="content" name="content" th:value="${note.getContent()}" maxlength="20" size="15">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button name="id" th:value="${note.getId()}" type="submit">Зберегти</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>